<section>
  <h2>記事のタグ一覧</h2>
  <div class="filter">
    <button
      *ngFor="let tag of tags$ | async; let i = index"
      [class.active]="tag === activeTag"
      (click)="activeTag = tag"
      [attr.data-cy]="'filter-tag-' + tag"
    >
      #{{ tag }}
    </button>
  </div>
</section>
<section *ngIf="articles$ | async as articles">
  <wot-card
    *ngFor="let article of articles; let i = index"
    [attr.data-cy]="'article-title-' + i"
    [routerLink]="['article', article.id]"
    role="navigation"
  >
    <h2>{{ article.title }}</h2>
    <span
      class="tag"
      *ngFor="let tag of article.tags; let i = index"
      [attr.data-cy]="'tag-' + tag.name"
      >#{{ tag.name }}</span
    >
    <div>{{ article.publishing }}</div>
  </wot-card>
</section>
