@import 'shared-ui';

:host {
  @include flex-row();
  @include media('xsmall') {
    @include flex-column();
    padding: 8px;
  }
}

section {
  width: 100%;

  .filter {
    @include flex-column();

    @include media('xsmall') {
      @include flex-row();
      margin-bottom: 2em;
    }
    button {
      border: 1px solid $graphic-objects;
      padding: 4px 16px;
      border-radius: 4px;
      margin: 0 8px 8px 0;
      background: none;
      cursor: pointer;

      &.active {
        background-color: $graphic-objects;
        color: $on-graphic-objects;
      }
    }
  }

  wot-card {
    cursor: pointer;
    margin-bottom: 16px;

    .tag {
      margin-right: 8px;
    }
  }
}
