<section>
  <h2>記事のタグ一覧</h2>
  <div *ngFor="let tag of tags$ | async; let i = index">
    <button (click)="onTagSet(tag)" [attr.data-cy]="'tag-' + tag">
      #{{ tag }}
    </button>
  </div>
</section>
<section *ngIf="articles$ | async as articles">
  <div
    *ngFor="let article of articles; let i = index"
    [attr.data-cy]="'article-title-' + i"
  >
    <h2>{{ article.title }}</h2>
    <span
      *ngFor="let tag of article.tags; let i = index"
      [attr.data-cy]="'tag-' + tag.name"
      >#{{ tag.name }}</span
    >
    <div>{{ article.publishing }}</div>
  </div>
</section>
