@import 'shared-ui';

:host {
  @include flex-row();
  @include media('xsmall') {
    @include flex-column();
    padding: 8px;
  }
}

section {
  width: 100%;
  wot-card {
    cursor: pointer;
    margin-bottom: 16px;

    .tag {
      margin-right: 8px;
    }
  }
}
